APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

CON_REG_END_DATETIME_ISO="1970-01-01T00:00:00"
CON_ASSISTANT_END_DATETIME_ISO="1970-01-01T23:59:59"
CON_TIMEZONE="Europe/Berlin"
CON_DEALERS_TOS_URL=https://example.org/dealers-tos
CON_IDP_URL=https://identity.example.org
CON_DEALERS_EMAIL=dealers@eurofurence.example.org
CON_NAME="My Convention 00"
CON_NAME_SHORT="MC00"
CON_PAYMENT_TIMEFRAME="two weeks"
CON_IDP_GROUP_ADMIN="HIJKLMN456"
CON_IDP_GROUP_FRONTDESK="ABCDEFG123"

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

AWS_ACCESS_KEY_ID=not-quite-so-secret
AWS_SECRET_ACCESS_KEY=very-secret
AWS_DEFAULT_REGION=eu-west-1
AWS_BUCKET=dealer-registration
AWS_URL=http://s3.example.com/dealer-registration
AWS_ENDPOINT=http://127.0.0.1:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
