$primary: #00504b;
@import "bootstrap/scss/bootstrap.scss";

label.required:after, legend.required:after, span.required:after {
    content: "*";
    color: red;
}

/* DD Specific */
.dd-table-button {
    width: 5ex;
    height: 5ex;
    font-weight: bold;
    margin: 0.25ex;
}

.dd-table-button.border-danger {
    border-width: 3px;
}

.cursor-default {
    cursor: default;
}
