name: PHPUnit Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  phpunit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: "8.3"
          extensions: gd
      - uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: "mariadb-10.11"
          user: "dealers"
          password: "dealers"
          auto-start: "true"
      - run: mysql -uroot -h127.0.0.1 -e "CREATE DATABASE dealers;"
      - uses: actions/checkout@v6
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.dist', '.env');"
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        run: php artisan key:generate
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Execute tests (Unit and Feature tests) via PHPUnit
        env:
          DB_CONNECTION: mariadb
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_DATABASE: dealers
          DB_USERNAME: dealers
          DB_PASSWORD: dealers
        run: php artisan test
